.all-faq{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.faqs{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
    gap: 2rem;
}